  .swiper {
    height: 100%;
  }  
  
  .swiper {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* .swiper-slide {
    background-size: cover;
    background-position: center;
  } */